.feedOptions{
    display: flex;
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}
.feedOptions:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.feedOptions > h4{
    margin-left: 5px;
}